@use "src/common/stiles/sass/variables" as v;
@use "src/common/stiles/sass/mixins" as m;

.describeInfo {
  padding: 10px;
  margin: 10px;
  //border: 1px solid;

  .describeTitle {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: v.$textColor;
    text-align: center;
    //border: 1px solid;
  }

  .describeDescription {
    @include m.text(v.$fontFamily, 16px, 400, v.$textSecondColor);
    line-height: 1.7;
    text-align: center;
    display: block;
    //border: 1px solid;
    padding: 0;
  }
}




