.icon {
    width: 60px;
    height: 60px;

}
.skill {
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid;
}
.skill::before {
    position: absolute;
    content: '';
    background-color: #dc965a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}
.skill img {
    width: 60px;
    height: 60px;
}