@use "src/common/stiles/sass/variables" as v;
@use "src/common/stiles/sass/mixins" as m;

.scrollUp {
  @include m.flex(center, center);
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  color: v.$bgColor;
  width: 42px;
  height: 45px;
  z-index: 99;
  border-radius: 6px;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 30px rgb(0 0 0 / 15%);
  font-size: 20px;
  cursor: pointer;

  &:hover{
    background-color: v.$bgColor;
    transform: translateY(-5px);
  }

  & span {
    font-weight: 600;
  }

  .tiAngleDoubleUp {
    //font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
    .arrow {
      width: 14px;
      height: 14px;
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:nth-child(1){
        top: 14px;
        border-top: 2px solid antiquewhite;
        border-right: 2px solid antiquewhite;

        &:hover{
          border-top: 2px solid v.$bgColor;
          border-right: 2px solid v.$bgColor;
        }
      }
      &:nth-child(2){
        top: 20px;
        border-top: 2px solid v.$bgColor;
        border-right: 2px solid v.$bgColor;

        &:hover{
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }
    }
  }
}



