.mainBlock {
    height: 100vh;
    background-color: #dc965a;
}
.greeting {
    width: 350px;
    color: #1c1d24;
}
.greeting h6 {
    font-size: 25px;
    margin-bottom: 15px;
}
.greeting h1 {
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 5px;
}
.greeting h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    line-height: 1.8;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: #e3dcdc;
}

@media screen and (max-width: 425px) {
    .greeting h1 {
        letter-spacing: 0px;
    }
}