.skillsBlock {
    /*min-height: 100vh;*/
    background-color: #252527;
    padding: 50px 0px;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.skills {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 704px){
    .skills{
        justify-content: center;
    }
}
