.title {
    margin: 0 0 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #1c1d24;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title h2 {
    margin: 0;
}
/*псевлоэлемент*/
.title::before{
    content: "";
    background: #dc965a;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}
