@use "../../../common/stiles/sass/mixins" as m;
@use "../../../common/stiles/sass/variables" as v;

.burgerNav {
  @include m.flex(center, center);
  border: 1px solid;
  flex-direction: column;
  width: 300px;

  & a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #1c1d24;
    cursor: pointer;

    &:hover {
      color: v.$bgColor;
    }

    .active {
      color: v.$bgColor;
    }
  }
  @media screen and (min-width: 400px){
    display: none;
  }
}
