@use "src/common/stiles/sass/variables" as v;
@use "src/common/stiles/sass/mixins" as m;

.header {
  @include m.flex(flex-end, center);
  min-height: 80px;
  background-color: v.$bgSecondColor;

  .fixed {
    @include m.flex(flex-end, center);
    position: fixed;
    width: 100%;
    min-height: 80px;
    background-color: v.$bgSecondColor;
    z-index: 10;
  }
}
