
.mainCursor {
  z-index: 999;
  display: block;
  position: fixed;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  pointer-events: none;
  background-color: rgb(255, 147, 1);
  transition: opacity 0.15s ease-in-out 0s, transform 0.25s ease-in-out 0s;
  transform: translate(-50%, -50%) scale(1);
  top: 0px;
  left: 0px;
}

.secondaryCursor {
  z-index: 999;
  display: block;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 147, 1, 0.2);
  transition: opacity 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
  will-change: transform;
  transform: translate(-50%, -50%) scale(1);
  top: 0px;
  left: 0px;
}



