@use "src/common/stiles/sass/variables" as v;
@use "src/common/stiles/sass/mixins" as m;

.footerBlock {
  height: 150px;
  background-color: v.$bgColor;

  .footerContainer {
    @include m.flexContainer();

    .title {
      @include m.text(v.$fontFamilySerif, 24px, 700, v.$textColor);
      padding: 0 0 15px;
      margin: 0;
    }

    .socialIcons {
      width: 250px;
      @include m.flex(center, space-around);
    }

    .footerRight {
      @include m.text(v.$fontFamily, 16px, 400, v.$textColor);
      line-height: 1.7;
      text-align: center;
    }
  }
}



