.footerBlock {
    height: 150px;
    background-color: #dc965a;
}
.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    font-family: "Nunito",serif;
    font-size: 24px;
    padding: 0 0 15px;
    margin: 0;
    font-weight: 700;
    color: #1c1d24;
}
.socialIcons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.socialIcon {
    width: 40px;
    height: 40px;
    padding: 5px;
}
.footerRight {
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #1c1d24;
    font-weight: 400;
    text-align: center;
}