@use "src/common/stiles/sass/mixins" as m;

.container {
    @include m.flex(center, space-between);
    border: 1px solid;
    margin: 0 auto;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
}