.contactsBlock {
    /*height: 100vh;*/
    background-color:  #252527;
    padding: 50px 0;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {

}
.contactForm {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 200px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
}
.contactForm input, .contactForm textarea {
    width: 100%;
    margin: 5px;
    padding: 10px;
    background-color: #1f1f20;
    color: #fff;
    outline: none;
    border: #dc965a;
}
.contactForm input:focus, .contactForm textarea:focus {
    outline: #dc965a;
    border: #dc965a;
}
.contactBtn {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 30px;
    margin-top: 5px;
    background-color: #dc965a;
}
